@charset "UTF-8";
.xue_changePassword {
	padding-top: px2rem(90);
	.xue_cp_title {
		color: #212121;
		font-size: px2rem(28);
		line-height: px2rem(28);
		text-align: center;
		margin-bottom: px2rem(75);
	}
	.xue_cp_input_box {
		display: block;
		padding-bottom: px2rem(13);
		border-bottom: 1px solid #CCCCCC;
		width: px2rem(560);
		margin: 0 auto px2rem(58);
		input.xue_cp_input {
			color: #212121;
			font-size: px2rem(28);
			line-height: px2rem(28);
			background: none;
			outline: none;
			border: none;
			box-sizing: border-box;
			padding-left: px2rem(44);
			background: url(#{$img}xue_cp_pass_icon.png) no-repeat left center;
			background-size: px2rem(24) px2rem(29);
			&::-webkit-input-placeholder {
				color: #9B9B9B;
			}
		}
	}
	.xue_cp_btn {
		display: block;
		margin: px2rem(-18) auto 0;
		width: px2rem(560);
		height: px2rem(90);
		color: #FFFFFF;
		text-align: center;
		line-height: px2rem(34);
		font-size: px2rem(34);
		border: none;
		outline: none;
		border-radius: px2rem(45);
		background-image: -webkit-linear-gradient(84deg, #F95862 0%, #FF775A 100%);
		background-image: -moz-linear-gradient(84deg, #F95862 0%, #FF775A 100%);
		background-image: -o-linear-gradient(84deg, #F95862 0%, #FF775A 100%);
		background-image: linear-gradient(6deg, #F95862 0%, #FF775A 100%);
	}
}

