@charset "UTF-8";
@mixin dashBorder {
	border-bottom: 1px dashed #feb080;
}
.newSeason_alert {
	background: rgba(0, 0, 0, 0.7);
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	.n_a_cont {
		width: px2rem(640);
		height: px2rem(534);
		background: #fff;
		border-radius: px2rem(10);
		box-sizing: border-box;
		padding-top: px2rem(70);
		position: absolute;
		left: 50%;
		top: 50%;
		margin: px2rem(-267) 0 0 px2rem(-320);
		-webkit-animation: showAlert .3s;
		-moz-animation: showAlert .3s;
		-o-animation: showAlert .3s;
		animation: showAlert .3s;
		.close_btn {
			width: px2rem(70);
			height: px2rem(70);
			position: absolute;
			right: 0;
			top: 0;
			background: url(#{$img}newSeason/close_icon.png) no-repeat center center;
			background-size: px2rem(20) px2rem(20);
		}
		.n_a_c_icon {
			width: px2rem(120);
			height: px2rem(120);
			background: url(#{$img}newSeason/alert_right_icon.png) no-repeat 0 0;
			background-size: 100%;
			display: block;
			margin: 0 auto px2rem(30);
		}
		.n_a_c_title {
			font-size: px2rem(30);
			color: #eb5a57;
			line-height: px2rem(30);
			margin-bottom: px2rem(20);
			text-align: center;
		}
		.n_a_c_para {
			font-size: px2rem(28);
			line-height: px2rem(28);
			color: #6a6a6a;
			text-align: center;
		}
		.n_a_c_btnBox {
			margin-top: px2rem(70);
			text-align: center;
			.n_a_c_btn {
				display: inline-block;
				width: px2rem(258);
				height: px2rem(90);
				line-height: px2rem(90);
				text-align: center;
				font-size: px2rem(34);
				color: #fff;
				background-color: rgb(236, 88, 84);
				box-shadow: 0px 10px 18px 0px rgba(236, 88, 84, 0.3);
				border-radius: px2rem(45);
				&:first-child {
					margin-right: px2rem(32);
				}
				&:last-child {
					margin-left: px2rem(32);
				}
				&.cancel {
					color: #fff;
					background: #ccc;
					box-shadow: 0px 10px 18px 0px rgba(211, 211, 211, 0.3);
				}
			}
		}
	}
}
.push926 {
	font-family: 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif;
	width: 100%;
	overflow: hidden;
	background-color: #feb775;
	.at-title {
		height: px2rem(700);
		background-image: -moz-linear-gradient( 90deg, #feb976 0%, #fc9a6f 100%);
		background-image: -webkit-linear-gradient( 90deg, #feb976 0%, #fc9a6f 100%);
		background-image: -ms-linear-gradient( 90deg, #feb976 0%, #fc9a6f 100%);
		position: relative;
		left: 0;
		top: 0;
		.title-slogan {
			height: 100%;
			background: url(#{$img}event10/bg-title.png) no-repeat 0 0;
			background-size: 100% auto;
			&.grade-1 {
				background: url(#{$img}event10/bg-title-1.png) no-repeat 0 0;
				background-size: 100% auto;
			}
			&.grade-2 {
				background: url(#{$img}event10/bg-title-2.png) no-repeat 0 0;
				background-size: 100% auto;
			}
			&.grade-3 {
				background: url(#{$img}event10/bg-title-3.png) no-repeat 0 0;
				background-size: 100% auto;
			}
			&.grade-4 {
				background: url(#{$img}event10/bg-title-4.png) no-repeat 0 0;
				background-size: 100% auto;
			}
			&.grade-5 {
				background: url(#{$img}event10/bg-title-5.png) no-repeat 0 0;
				background-size: 100% auto;
			}
			&.grade-6 {
				background: url(#{$img}event10/bg-title-6.png) no-repeat 0 0;
				background-size: 100% auto;
			}
		}
		.title-btn {
			width: px2rem(440);
			height: px2rem(110);
			position: absolute;
			left: 50%;
			bottom: px2rem(50);
			margin-left: px2rem(-220);
			background: url(#{$img}event10/bg-btn.png) no-repeat 0 0;
			background-size: 100% 100%;
			font-size: px2rem(34);
			line-height: px2rem(110);
			color: #fff;
			text-align: center;
			box-shadow: 0px 9px 18px 0px rgba(254, 184, 117, 0.32);
			border-radius: px2rem(55);
			font-weight: bold;

		}
	}
	.exLessonBg {
		width: 100%;
		height: px2rem(101);
		background-color: #feb775;
		padding-left: px2rem(212);
		.exLesson {
			display: inline-block;
			height: px2rem(38);
			line-height: px2rem(38);
			font-weight: bold;
			font-size: px2rem(28);
			color: #eb5050;
			border-bottom: 1px solid #eb5050;	
			.arrow {
				display: inline-block;
				width: px2rem(24);
				margin-left: px2rem(10);
				height: px2rem(20);
				background: url(#{$img}event10/exLesson.png) left top no-repeat;
				background-size: px2rem(24) px2rem(20);
			}		
		}
	}
	.at-course {
		padding: 0 px2rem(40);
		background-image: -moz-linear-gradient( 90deg, #fd9073 0%,#feb976 100%);
		background-image: -webkit-linear-gradient( 90deg, #fd9073 0%,#feb976 100%);
		background-image: -ms-linear-gradient( 90deg, #fd9073 0%,#feb976 100%);
		.courseCol {
			border-radius: px2rem(20);
			position: relative;
			left: 0;
			top: 0;
			background: #fff0da;
			padding: px2rem(88) px2rem(40) px2rem(10);
			margin-bottom: px2rem(70);
			max-height: 100000px;
			&:nth-child(2):after {
				content: '';
				position: absolute;
				left: px2rem(-36);
				top: px2rem(-56);
				width: px2rem(80);
				height: px2rem(37);
				background: url(#{$img}event10/icon-bird-2.png) no-repeat 0 0;
				background-size: 100% 100%;
			}
			&:nth-child(3):after {
				content: '';
				position: absolute;
				right: px2rem(-44);
				top: px2rem(-48);
				width: px2rem(166);
				height: px2rem(29);
				background: url(#{$img}event10/icon-bird-3.png) no-repeat 0 0;
				background-size: 100% 100%;
			}
			&:before {
				position: absolute;
				left: 0;
				top: px2rem(-20);
				width: 100%;
				height: px2rem(56);
				content: '';
				background: url(#{$img}event10/bg-book.png) no-repeat center 0;
				background-size: px2rem(560) px2rem(56);
			}
			.course-title {
				font-size: px2rem(32);
				color: #f27346;
				line-height: px2rem(32);
				padding-bottom: px2rem(20);
				@include dashBorder;
				.title-time {
					font-size: px2rem(28);
					line-height: px2rem(28);
					font-weight: normal;
				}
			}
			.course-txt {
				font-size: px2rem(28);
				line-height: px2rem(34);
				padding: px2rem(18) 0;
				color: #f27346;
				@include dashBorder;
				&.special {
					border: none;
				}
				&:last-child {
					border: none;
				}
			}
		}
	}
	.at-statement {
		color: #fff0da;
		font-size: px2rem(22);
		line-height: px2rem(22);
		padding: px2rem(40) 0;
		text-align: center;
		margin-top: px2rem(-70);
		& > span {
			display: inline-block;
			padding: 0 px2rem(50);
			position: relative;
			left: 0;
			top: 0;
			&:before, &:after {
				content: '';
				position: absolute;
				top: 50%;
				margin-top: -1px;
				width: px2rem(30);
				height: px2rem(2);
				background: #feb08e;
			}
			&:before {
				left: 0;
			}
			&:after {
				right: 0;
			}
		}
	}
}