@charset "UTF-8";
.couponItem {
	width: 100%;
	.tabItem {
		background-color: #FFF;
		border-bottom: solid 1px #CCCCCC;
	}
	.tabs {
		width: px2rem(610);
		margin: 0 auto;
		.tab {
			width: px2rem(150);
			height: px2rem(56);
			font-size: px2rem(30);
			line-height: px2rem(30);
			color: #6F6F6F;
			text-align: center;
			margin-top: px2rem(33);
			&.done {
				margin-left: px2rem(80);
			}
			&.on {
				color: #FF4146;
				border-bottom: solid px2rem(2) #FF4146;
			}
		}
	}
	.exchangeItem {
		background-color: #FFF;
		.exchange {
			width: px2rem(690);
			margin: 0 auto;
			.exchangeCode {
				margin-top: px2rem(19);
				margin-bottom: px2rem(21);
				.code {
					width: px2rem(456);
					height: px2rem(75);
					border: solid 1px #BDBDBD;
					border-radius: px2rem(100);
					box-sizing: border-box;
					padding-left: px2rem(40);
					font-size: px2rem(26);
				}
			}
			.exchangeButton {
				margin-top: px2rem(19);
				margin-bottom: px2rem(21);
				width: px2rem(173);
				height: px2rem(75);
				border: solid 1px #FF5357;
				border-radius: px2rem(100);
				box-sizing: border-box;
				text-align: center;
				line-height: px2rem(75);
				color: #F95862;
				font-size: px2rem(32);
			}
		}
	}
	.noCoupon {
		width: 100%;
		background-color: #FFF;
		.noCouponText {
			height: px2rem(100);
			line-height: px2rem(100);
			margin-left: px2rem(30);
			font-size: px2rem(28);
			color: #212121;
		}
		.chooseIcon {
			width: px2rem(30);
			height: px2rem(30);
			background:  url(#{$img}noCoupon.png) no-repeat;
			background-size: 100% 100%;
			margin-right: px2rem(64);
			margin-top: px2rem(36);
			&.on {
				background:  url(#{$img}couponChosed.png) no-repeat;
				background-size: 100% 100%;
			}
		}
	}
	.couponNumber {
		font-size: px2rem(24);
		line-height: px2rem(24);
		color: #6F6F6F;
		margin-left: px2rem(30);
		margin-top: px2rem(30);
		margin-bottom: px2rem(-10);
		.num {
			color: #FF5357;
		}
	}
	.couponList {
		margin-top: px2rem(30);
		.coupon {
			width: px2rem(690);
			margin: 0 auto px2rem(20) auto;
			background-color: #FFF;
			border-radius: px2rem(10);
			position: relative;
			overflow: hidden;
			.couponContent {
				.couponPrice {
					color: #FF775A;
					width: px2rem(184);
					margin-top: px2rem(68);
					margin-bottom: px2rem(59);
					margin-left: px2rem(9);
					text-align: center;
					.num {
						font-size: px2rem(50);
						line-height: px2rem(50);
					}
					.sign {
						font-size: px2rem(34);
						line-height: px2rem(34);
					}
				}
				.couponInfo {
					.couponName {
						width: px2rem(390);
						font-size: px2rem(32);
						line-height: px2rem(32);
						color: #212121;
						padding-top: px2rem(4);
						margin-top: px2rem(30);
						padding-bottom: px2rem(4);
						text-overflow:ellipsis; //ellipsis:截取后以...作为省略；clip：表示没有省略号；
						white-space:nowrap; // 强制不换行
						overflow:hidden;// 溢出隐藏；
					}
					.couponDate {
						font-size: px2rem(24);
						line-height: px2rem(24);
						color: #6F6F6F;
						margin-top: px2rem(20);
						&.couponNum {
							margin-top: px2rem(10);
						}
					}
				}
				.chooseIcon {
					width: px2rem(30);
					height: px2rem(30);
					position: absolute;
					top: px2rem(39);
					right: px2rem(32);
					background:  url(#{$img}noCoupon.png) no-repeat;
					background-size: 100% 100%;
					&.on {
						background:  url(#{$img}couponChosed.png) no-repeat;
						background-size: 100% 100%;
					}
				}
			}
			.range {
				line-height: px2rem(36);
				padding: px2rem(12) px2rem(160) px2rem(12) px2rem(29);
				font-size: px2rem(20);
				color: #BDBDBD;
				border-top: dotted 1px rgba(0,0,0,0.1);
			}
			.toUse {
				display: block;
				position: absolute;
				width: px2rem(90);
				height: px2rem(24);
				font-size: px2rem(24);
				color: #FF775A;
				line-height: px2rem(24);
				bottom: px2rem(19);
				right: px2rem(30);
				background: url(#{$img}icon_coupon_toUse.png) px2rem(80) center no-repeat;
				background-size: px2rem(10) px2rem(20);
			}
			.cricleLeft {
				position: absolute;
				width: px2rem(30);
				height: px2rem(30);
				border-radius: 50%;
				background-color: #F4F4F4;
				bottom: px2rem(48);
				left: px2rem(-15);
			}
			.cricleRight {
				position: absolute;
				width: px2rem(30);
				height: px2rem(30);
				border-radius: 50%;
				background-color: #F4F4F4;
				bottom: px2rem(48);
				right: px2rem(-15);
			}
			.doneText {
				width: px2rem(179);
				height: px2rem(179);
				background-color: #FFDDE2;
				transform: rotate(45deg);
				color: #F95862;
				font-size: px2rem(24);
				text-align: center;
				line-height: px2rem(316);
				overflow: hidden;
				position: absolute;
				top: px2rem(-100);
				right: px2rem(-100);
				opacity: 0.6;
			}
			.iconSignNot {
				width: px2rem(126);
				height: px2rem(130);
				position: absolute;
				right: 0;
				bottom: px2rem(10);
				background:  url(#{$img}couponNot.png) no-repeat;
				background-size: 100% 100%;
			}
			&.couponDone {
				.couponContent {
					.couponPrice {
						opacity: 0.5;
					}
					.couponInfo {
						opacity: 0.6;
					}
				}
			}
			&.couponNot {
				.couponContent {
					.couponPrice {
						color: #BDBDBD;
					}
					.couponInfo {
						.couponName {
							color: #BDBDBD;
						}
						.couponDate {
							color: #BDBDBD;
						}
					}
				}
			}
		}
	}
}