@charset "UTF-8";
body.ac_mlm {
	background: #f8edcd;
}
.mlm_sec {
	position: relative;
}
.ac_mlm_46_5.subject {
	background-image: -moz-linear-gradient( -111deg, rgb(255,205,54) 0%, rgb(255,187,24) 34%) !important;
	background-image: -webkit-linear-gradient( -111deg, rgb(255,205,54) 0%, rgb(255,187,24) 34%) !important;
	background-image: -ms-linear-gradient( -111deg, rgb(255,205,54) 0%, rgb(255,187,24) 34%) !important;
	.list_bg_top_5 {
		position: fixed;
		width: 100%;
		height: px2rem(580);
		left: 0;
		top: 0;
		background: url(#{$img}ac_1109_46/list_bg_top_5.png) no-repeat 0 0;
		background-size: 100% 100%;
	}
	.mlm_select_subject {
		padding-top: px2rem(12);
		position: relative;
		left: 0;
		top: 0;
		.subject_title {
			width: px2rem(708);
			height: px2rem(203);
			background: url(#{$img}ac_1109_46/mlm_subject_title_bg_5.png) no-repeat 0 0;
			background-size: 100% 100%;
			color: #fb8159;
			font-size: px2rem(26);
			line-height: px2rem(32);
			box-sizing: border-box;
			padding: px2rem(53) px2rem(60) 0;
			margin: 0 auto px2rem(6);
		}
		.subject_list {
			.list_col {
				width: px2rem(660);
				height: px2rem(300);
				margin: 0 auto;
				margin-bottom: px2rem(20);
				position: relative;
				left: 0;
				top: 0;
				.main_wrapper {
					width: 100%;
					height: 100%;
					display: block;
					.main_desc {
						color: #7f7f7f;
						font-size: px2rem(24);
						line-height: px2rem(30);
						padding: px2rem(118) 0 0 px2rem(58);
					}
					.main_time {
						color: #7f7f7f;
						font-size: px2rem(24);
						line-height: px2rem(24);
						padding-left: px2rem(58);
						margin: px2rem(10) 0 px2rem(20);
					}
					.main_btn {
						width: px2rem(250);
						height: px2rem(56);
						display: block;
						margin: 0 0 0 px2rem(10);
						background-image: -moz-linear-gradient( -90deg, rgb(255,129,45) 0%, rgb(255,97,81) 100%);
						background-image: -webkit-linear-gradient( -90deg, rgb(255,129,45) 0%, rgb(255,97,81) 100%);
						background-image: -ms-linear-gradient( -90deg, rgb(255,129,45) 0%, rgb(255,97,81) 100%);
						font-size: px2rem(24);
						line-height: px2rem(56);
						color: #fff;
						text-align: center;
						box-sizing: border-box;
						background-size: 100% 100%;
						border-radius: px2rem(28);
						text-shadow: 0px 2px 1px rgba(255, 98, 79, 0.4);
						margin-left: px2rem(30);
					}
				}
				&.registered {
					.main_wrapper {
						opacity: 0.5;
					}
					&:after {
						content: '';
						position: absolute;
						left: 0;
						top: 0;
						width: 100%;
						height: 100%;
						background: url(#{$img}ac_1109_46/registered_bg.png) no-repeat right bottom;
						background-size: px2rem(271) px2rem(211);
						// opacity: 0.5;
					}
				}
				&.chinese .main_wrapper {
					background: url(#{$img}ac_1109_46/mlm_subject_chinese_bg_5.png) no-repeat 0 0;
					background-size: 100% 100%;
				}
				&.mathematics .main_wrapper {
					background: url(#{$img}ac_1109_46/mlm_subject_math_bg_5.png) no-repeat 0 0;
					background-size: 100% 100%;
				}
				&.english .main_wrapper {
					background: url(#{$img}ac_1109_46/mlm_subject_english_bg_5.png) no-repeat 0 0;
					background-size: 100% 100%;
				}
			}
		}
	}
	.subject_sec {
		position: relative;
	}
	.diff_wrapper {
		width: px2rem(650);
		margin: 0 auto;
		margin-top: px2rem(140);
		.diff_col {
			width: 100%;
			height: px2rem(230);
			margin-bottom: px2rem(94);
			box-sizing: border-box;
			padding: px2rem(50) px2rem(30) 0 px2rem(40);
			color: #fff;
			background: #fff;
			border-radius: px2rem(18);
		}
		.col_left {
			width: px2rem(350);
			.col_tit {
				color: #ff664c;
				font-size: px2rem(36);
				line-height: px2rem(36);
				margin-bottom: px2rem(24);
				font-weight: bold;
			}
			.col_para {
				color: #7f7f7f;
				font-size: px2rem(24);
				line-height: px2rem(40);
			}
		}
		.diff_btn {
			width: px2rem(220);
			height: px2rem(60);
			margin-top: px2rem(35);
			color: #fff;
			text-shadow: 0px 1px 2px rgba(217, 121, 19, 0.004);
			line-height: px2rem(60);
			text-align: center;
			font-size: px2rem(24);
			border-radius: px2rem(35);
			background-image: -moz-linear-gradient( -90deg, rgb(255,129,45) 0%, rgb(255,97,81) 100%);
			background-image: -webkit-linear-gradient( -90deg, rgb(255,129,45) 0%, rgb(255,97,81) 100%);
			background-image: -ms-linear-gradient( -90deg, rgb(255,129,45) 0%, rgb(255,97,81) 100%);
			&.disabled {
				background: #a8a8a8;
				text-shadow: none;
			}
		}
	}
}
.ac_mlm_46 {
	background-image: -moz-linear-gradient(-90deg, #fece71 0%, #ffb257 34%);
	background-image: -webkit-linear-gradient(-90deg, #fece71 0%, #ffb257 34%);
	background-image: -ms-linear-gradient(-90deg, #fece71 0%, #ffb257 34%);
	background-repeat: no-repeat;
	background-color: #ffb257;
	.list_bg_top_5 {
		position: absolute;
		width: 100%;
		height: px2rem(580);
		left: 0;
		top: 0;
		background: url(#{$img}ac_1109_46/list_bg_top_5.png) no-repeat 0 0;
		background-size: 100% 100%;
	}
	.mlm_top {
		width: 100%;
		height: px2rem(276);
		background: url(#{$img}ac_1109_46/mlm_top_bg_46.png) no-repeat center bottom;
		background-size: auto px2rem(234);
		text-align: center;
		.top_slogan {
			color: #b369ff;
			font-size: px2rem(26);
			line-height: px2rem(45);
			border: 1px solid #b369ff;
			padding: 0 px2rem(15);
			height: px2rem(45);
			box-sizing: border-box;
			margin-top: px2rem(282);
			display: inline-block;
		}
	}
	.mlm_content {
		margin-bottom: px2rem(5);
		.content_xn {
			background: #fff;
			margin-bottom: px2rem(20);
			width: px2rem(708);
			height: px2rem(335);
			background: url(#{$img}ac_1109_46/mlm_content_bg_46.png) no-repeat 0 0;
			background-size: 100% 100%;
			padding: px2rem(50) px2rem(60) 0;
			margin: 0 auto;
			box-sizing: border-box;
			.xn_txt {
				font-size: px2rem(26);
				line-height: px2rem(36);
				color: #fe6643;
				& > span {
					color: #b369ff;
				}
			}
		}
	}
	.content_card {
		height: px2rem(285);
		width: px2rem(650);
		background: url(#{$img}ac_1109_46/mlm_card_bg_46.png) no-repeat 0 0;
		background-size: 100% 100%;
		margin: 0 auto;
		margin-bottom: px2rem(20);
		display: block;
	}
	.content_desc {
		color: #fff;
		font-size: px2rem(22);
		line-height: px2rem(22);
		text-align: center;
		margin-bottom: px2rem(20);
		& > span {
			font-size: px2rem(46);
		}
	}
	.content_got_txt {
		color: #fff;
		font-size: px2rem(28);
		width: px2rem(520);
		height: px2rem(56);
		background: url(#{$img}ac_1109_46/got_txt_bg.png) no-repeat 0 0;
		background-size: 100% 100%;
		line-height: px2rem(56);
		text-align: center;
		text-shadow: 0px 2px 4px rgba(243, 165, 68, 0.004);
		margin: px2rem(40) auto px2rem(20);
	}
	.invite_box {
		width: px2rem(400);
		height: px2rem(154);
		margin: px2rem(34) auto px2rem(40);
		background: url(#{$img}ac_1109_46/invite_arrow_46.png) no-repeat center center;
		background-size: px2rem(17) px2rem(32);
		.avatar_box {
			width: px2rem(142);
			height: px2rem(157);
			position: relative;
			left: 0;
			top: 0;
			overflow: hidden;
			&.lock .mask_box {
				background: url(#{$img}ac_1109_46/avatar_mask_lock.png) no-repeat 0 0;
				background-size: 100% 100%;
			}
			.img_box {
				width: 200%;
				height: 100%;
				text-align: center;
				margin-left: px2rem(-71);
				& > img {
					display: block;
					height: 100%;
					margin: 0 auto;
				}
			}
			.mask_box {
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				background: url(#{$img}ac_1109_46/avatar_mask_46.png) no-repeat 0 0;
				background-size: 100% 100%;
			}
		}
	}
	.btn_next {
		border-radius: px2rem(16);
		width: px2rem(714);
		height: px2rem(154);
		font-size: px2rem(32);
		line-height: px2rem(32);
		text-align: center;
		margin: 0 auto px2rem(40);
		display: block;
		box-sizing: border-box;
		padding-top: px2rem(50);
		background: url(#{$img}ac_1109_46/btn_next_bg.png) no-repeat 0 0;
		background-size: 100% 100%;
		color: #ff6251;
		& > strong {
			font-size: px2rem(48);
		}
		&.disabled {
			background: url(#{$img}ac_1109_46/btn_next_bg_disabled.png) no-repeat 0 0;
			background-size: 100% 100%;
			color: rgba(255, 255, 255, 0.4);
		}
	}
	.princple {
		color: #fff;
		font-size: px2rem(28);
		line-height: px2rem(28);
		text-align: center;
		display: block;
		margin: 0 auto;
		text-decoration: underline;
		margin-top: px2rem(38);
		margin-bottom: px2rem(40);
	}
	.mlm_alert {
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.6);
		padding-top: px2rem(200);
		.princple_box {
			.pr_main {
				width: px2rem(604);
				margin: 0 auto;
				.pr_tit {
					font-size: px2rem(32);
					line-height: px2rem(32);
					color: #ff704a;
					padding-top: px2rem(56);
					padding-bottom: px2rem(22);
					text-align: center;
					background: #fff;
				}
				.pr_divider {
					height: px2rem(34);
					background: url(#{$img}ac_1109_46/alert_divider.png) no-repeat 0 0;
					background-size: 100% 100%;
				}
				.pr_detail {
					background: #fff;
					height: px2rem(560);
					.detail_wrapper {
						max-height: px2rem(530);
						overflow: scroll;
					}
					.detail_row {
						.row_left {
							width: px2rem(160);
							font-size: px2rem(26);
							line-height: px2rem(36);
							color: #000000;
							text-align: right;
						}
						.row_right {
							color: #7d7d7d;
							font-size: px2rem(26);
							line-height: px2rem(36);
							width: px2rem(400);
						}
					}
				}
			}
			.pr_close {
				display: block;
				width: px2rem(70);
				height: px2rem(70);
				background: url(#{$img}ac_1109_46/mlm_alert_close.png) no-repeat 0 0;
				background-size: 100% 100%;
				margin: px2rem(40) auto 0;
			}
		}
	}

	.ac_1109_46.home {
		position: relative;
		padding: 0;
		width: 100%;
		height: auto;
		background: none;
		.content_wrapper {
			padding-top: 0;
			.info_box {
				padding-top: 0;
				margin-top: 0;
				margin-bottom: px2rem(100);
			}
		}
	}
	.mlm_top_sub {
		height: px2rem(445);
		// background: url(#{$img}ac_1109_46/mlm_top_bg_sub.png) no-repeat 0 0;
		// background-size: 100% 100%;
		// padding-top: px2rem(85);
		box-sizing: border-box;
		margin-bottom: px2rem(20);
		.invite_slogan {
			width: 100%;
			height: px2rem(450);
			background: url(#{$img}ac_1109_46/invite_slogan_bg_46.png) no-repeat 0 0;
			background-size: 100% 100%;
			padding-top: px2rem(155);
			box-sizing: border-box;
			margin: 0 auto;
			text-align: center;
			.slogan_txt {
				text-align: center;
				color: #fb6458;
				font-size: px2rem(26);
				line-height: px2rem(36);
				&.big {
					margin-top: px2rem(18);
					font-size: px2rem(30);
					line-height: px2rem(30);
					margin-bottom: px2rem(28);
				}
				& > span {
					color: #b369ff;
				}
			}
			.slogan_link {
				font-size: px2rem(32);
				line-height: px2rem(32);
				color: #fe6643;
				text-decoration: underline;
				height: px2rem(40);
				background: url(#{$img}ac_1109_46/slogan_link_icon.png) no-repeat left center;
				background-size: px2rem(46) px2rem(39);
				padding-left: px2rem(52);
			}
		}
	}
	.course_card {
		margin-bottom: px2rem(20);
		height: px2rem(484);
		background: url(#{$img}ac_1109_46/course_card_bg.png) no-repeat 0 0;
		background-size: 100% 100%;
		text-align: center;
		.card_box {
			box-sizing: border-box;
			padding-top: px2rem(50);
			width: px2rem(650);
			height: px2rem(364);
			margin: 0 auto;
			padding-left: px2rem(24);
			text-align: left;
			color: #fff;
			.card_tit {
				font-size: px2rem(32);
				line-height: px2rem(32);
  				text-shadow: 0px 3px 0px rgba(246, 128, 199, 0.8);
  				margin-bottom: px2rem(46);
  				color: #fff;
  				text-align: center;
			}
			.card_para {
				font-size: px2rem(28);
				line-height: px2rem(28);
				&.shining {
					margin-bottom: px2rem(28);
				}
				&.price {
					margin-bottom: px2rem(15);
					&.old {
						text-decoration: line-through;
					}
					& > span {
						font-size: px2rem(32);
						color: #ff1e1e;
					}
				}
				&.combo {
					font-size: px2rem(22);
					line-height: px2rem(22);
					margin-top: px2rem(70);
				}
			}
		}
	}
	.btn_gift {
		border-radius: px2rem(44);
		background-image: -moz-linear-gradient(90deg, rgb(255,226,111) 2%, rgb(255,255,255) 100%);
		background-image: -webkit-linear-gradient(90deg, rgb(255,226,111) 2%, rgb(255,255,255) 100%);
		background-image: -ms-linear-gradient(90deg, rgb(255,226,111) 2%, rgb(255,255,255) 100%);
		width: px2rem(650);
		height: px2rem(88);
		text-align: center;
		color: #ff3420;
		margin: 0 auto;
		font-size: px2rem(32);
		line-height: px2rem(88);
		display: block;
  		box-shadow: 0px 12px 35px 0px rgba(255, 178, 87, 0.71);
	}
	.link_wrapper {
		text-align: center;
		.more-link {
			color: #fff;
			font-size: px2rem(32);
			text-decoration: underline;
			line-height: px2rem(21);
			display: inline-block;
			padding: px2rem(58) 0 px2rem(48);
		}
	}
	.share_mask {
		position: fixed;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		background: url(#{$img}ac_1109_46/share_bg_46.png) no-repeat right top rgba(0, 0, 0, 0.6);
		background-size: px2rem(500) px2rem(495);
	}
	&.subject {
		background-image: -moz-linear-gradient( 90deg, rgb(255,242,183) 0%, rgb(255,193,79) 100%);
		background-image: -webkit-linear-gradient( 90deg, rgb(255,242,183) 0%, rgb(255,193,79) 100%);
		background-image: -ms-linear-gradient( 90deg, rgb(255,242,183) 0%, rgb(255,193,79) 100%);
		.list_bg_top {
			position: fixed;
			width: 100%;
			height: px2rem(288);
			left: 0;
			top: 0;
			background: url(#{$img}ac_1109_46/list_bg_top.png) no-repeat 0 0;
			background-size: 100% 100%;
		}
		.list_bg_bot {
			position: fixed;
			width: 100%;
			height: px2rem(274);
			left: 0;
			bottom: 0;
			background: url(#{$img}ac_1109_46/list_bg_bot.png) no-repeat 0 0;
			background-size: 100% 100%;
		}
		.mlm_select_subject {
			padding-top: px2rem(20);
			position: relative;
			left: 0;
			top: 0;
			width: 100%;
			min-height: px2rem(1140);
			.subject_title {
				color: #fff;
				font-size: px2rem(30);
				line-height: px2rem(30);
  				text-shadow: 0px px2rem(3) px2rem(4) rgba(213, 64, 0, 0.4);
  				width: px2rem(701);
  				height: px2rem(115);
  				background: url(#{$img}ac_1109_46/mlm_subject_title_bg.png) no-repeat 0 0;
  				background-size: 100% 100%;
  				margin: 0 auto px2rem(26);
				padding: px2rem(55) 0 0;
				box-sizing: border-box;
				text-align: center;
			}
			.subject_list {
				.list_col {
					width: px2rem(650);
					height: px2rem(300);
					margin: 0 auto;
					margin-bottom: px2rem(40);
					position: relative;
					left: 0;
					top: 0;
					.icon_wf {
						width: px2rem(148);
						height: px2rem(76);
						background: url(#{$img}ac_1109/icon_wf.png) no-repeat 0 0;
						background-size: px2rem(148) px2rem(76);
						position: absolute;
						right: px2rem(-6);
						top: px2rem(-5);
					}
					.main_wrapper {
						width: 100%;
						height: 100%;
						display: block;
						.main_desc {
							color: #fff;
							font-size: px2rem(24);
							line-height: px2rem(30);
							padding: px2rem(108) 0 0 px2rem(50);
						}
						.main_time {
							color: #fff;
							font-size: px2rem(24);
							line-height: px2rem(24);
							margin-top: px2rem(12);
							padding-left: px2rem(50);
						}
						.main_btn {
							width: px2rem(312);
							height: px2rem(122);
							display: block;
							margin: 0 0 0 px2rem(10);
							background: url(#{$img}ac_1109_46/subject_btn_bg.png) no-repeat 0 0;
							font-size: px2rem(24);
							line-height: px2rem(24);
							color: #ff6251;
							text-align: center;
							box-sizing: border-box;
							padding-top: px2rem(38);
							background-size: 100% 100%;
						}
					}
					&.registered {
						.main_wrapper {
							// opacity: 0.5;
						}
						&:after {
							content: '';
							position: absolute;
							left: 0;
							top: 0;
							width: 100%;
							height: 100%;
						}
						.main_btn {
							background: url(#{$img}ac_1109_46/subject_btn_bg_disabled.png) no-repeat 0 0;
							background-size: 100% 100%;
							color: #fff;
						}
					}
					&.chinese .main_wrapper {
						background: url(#{$img}ac_1109_46/mlm_subject_chinese_bg_n.png) no-repeat 0 0;
						background-size: 100% 100%;
					}
					&.mathematics .main_wrapper {
						background: url(#{$img}ac_1109_46/mlm_subject_math_bg_n.png) no-repeat 0 0;
						background-size: 100% 100%;
					}
					&.english .main_wrapper {
						background: url(#{$img}ac_1109_46/mlm_subject_english_bg_n.png) no-repeat 0 0;
						background-size: 100% 100%;
					}
				}
			}
		}
	}
	&.diff {
		// background-image: -moz-linear-gradient( 90deg, rgb(255,205,192) 0%, rgb(255,203,153) 100%);
		// background-image: -webkit-linear-gradient( 90deg, rgb(255,205,192) 0%, rgb(255,203,153) 100%);
		// background-image: -ms-linear-gradient( 90deg, rgb(255,205,192) 0%, rgb(255,203,153) 100%);
		position: relative;
		left: 0;
		top: 0;
		.bot_bg {
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			height: px2rem(194);
			background: url(#{$img}ac_1109_46/mlm_diff_bot_bg.png) no-repeat 0 0;
			background-size: 100% 100%;
		}
		.subject_title {
			color: #fff;
			font-size: px2rem(30);
			line-height: px2rem(30);
			text-shadow: 0px px2rem(3) px2rem(4) rgba(213, 64, 0, 0.4);
			width: px2rem(701);
			height: px2rem(115);
			background: url(#{$img}ac_1109_46/mlm_subject_title_bg.png) no-repeat 0 0;
			background-size: 100% 100%;
			margin: 0 auto px2rem(60);
			padding: px2rem(55) 0 0;
			box-sizing: border-box;
			text-align: center;
			margin-top: px2rem(30);
			position: relative;
		}
		.diff_wrapper {
			width: px2rem(650);
			margin: 0 auto;
			position: relative;
			.subject_title {
				color: #fff;
				font-size: px2rem(30);
				line-height: px2rem(30);
  				text-shadow: 0px px2rem(3) px2rem(4) rgba(213, 64, 0, 0.4);
  				width: px2rem(701);
  				height: px2rem(115);
  				background: url(#{$img}ac_1109_46/mlm_subject_title_bg.png) no-repeat 0 0;
  				background-size: 100% 100%;
  				margin: 0 auto px2rem(26);
				padding: px2rem(55) 0 0;
				box-sizing: border-box;
				text-align: center;
			}
			.diff_col {
				width: 100%;
				height: px2rem(230);
				margin-bottom: px2rem(94);
				box-sizing: border-box;
				padding: px2rem(50) px2rem(30) 0 px2rem(40);
				color: #fff;
				border-radius: px2rem(18);
				background: url(#{$img}ac_1109_46/diff_col_bg.png) no-repeat 0 0;
				background-size: 100% 100%;
				display: block;
			}
			.col_left {
				width: px2rem(350);
				.col_tit {
					color: #fff;
					font-size: px2rem(36);
					line-height: px2rem(36);
					margin-bottom: px2rem(24);
					font-weight: bold;
				}
				.col_para {
					color: #fff;
					font-size: px2rem(24);
					line-height: px2rem(40);
				}
			}
			.diff_btn {
				width: px2rem(220);
				height: px2rem(60);
				margin-top: px2rem(35);
				color: #fff;
				text-shadow: 0px 1px 2px rgba(217, 121, 19, 0.004);
				line-height: px2rem(60);
				text-align: center;
				font-size: px2rem(24);
				border-radius: px2rem(35);
				background-image: -moz-linear-gradient( -90deg, rgb(255,129,45) 0%, rgb(255,97,81) 100%);
				background-image: -webkit-linear-gradient( -90deg, rgb(255,129,45) 0%, rgb(255,97,81) 100%);
				background-image: -ms-linear-gradient( -90deg, rgb(255,129,45) 0%, rgb(255,97,81) 100%);
				&.disabled {
					background: #a8a8a8;
					text-shadow: none;
				}
			}
		}
	}
}