@charset "UTF-8";

.qrcode_wrapper {
	padding-top: px2rem(260);
	.qr_img {
		width: px2rem(377);
		height: px2rem(377);
		display: block;
		margin: 0 auto px2rem(108);
	}
	.qr_title {
		color: #4a4a4a;
		font-size: px2rem(28);
		line-height: px2rem(28);
		text-align: center;
		margin-bottom: px2rem(32);
	}
	.qr_txt {
		color: #9b9b9b;
		font-size: px2rem(24);
		text-align: center;
		line-height: px2rem(24);
	}
}